<a href="https://colab.research.google.com/github/RaysirChang/-Coursera_Capstone/blob/master/Q1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### To create the dataframe

In [1]:
import pandas as pd
import numpy as np
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M') 
df=df[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [2]:
df.shape

(287, 3)

### Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [3]:
df.drop(df[df['Borough']=="Not assigned"].index,axis=0, inplace=True)
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

### More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [4]:
df1=df.groupby(['Postcode'],sort=False).agg(','.join)
df1=df1.reset_index()
df1.head()

  Postcode                Borough                    Neighbourhood
0      M3A             North York                        Parkwoods
1      M4A             North York                 Victoria Village
2      M5A       Downtown Toronto                     Harbourfront
3      M6A  North York,North York  Lawrence Heights,Lawrence Manor
4      M7A       Downtown Toronto                     Queen's Park

### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [5]:
df1.loc[df1['Neighbourhood']=="Not assigned",'Neighbourhood']=df1.loc[df1['Neighbourhood']=="Not assigned",'Borough']
df1.head()

  Postcode                Borough                    Neighbourhood
0      M3A             North York                        Parkwoods
1      M4A             North York                 Victoria Village
2      M5A       Downtown Toronto                     Harbourfront
3      M6A  North York,North York  Lawrence Heights,Lawrence Manor
4      M7A       Downtown Toronto                     Queen's Park

#### remove the duplicate boroughts

In [6]:
df1['Borough']= df1['Borough'].str.replace('nan|[{}\s]','').str.split(',').apply(set).str.join(',').str.strip(',').str.replace(",{2,}",",")
df1.head()

  Postcode          Borough                    Neighbourhood
0      M3A        NorthYork                        Parkwoods
1      M4A        NorthYork                 Victoria Village
2      M5A  DowntownToronto                     Harbourfront
3      M6A        NorthYork  Lawrence Heights,Lawrence Manor
4      M7A  DowntownToronto                     Queen's Park

### In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe

In [7]:
df1.shape

(103, 3)