In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://snj43383:21tkq5-6h4ncd7c9@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

'Connected: snj43383@BLUDB'

In [3]:
%sql select COMMUNITY_AREA_NAME,AVG(COLLEGE_ENROLLMENT) as AVG_COLLEGE_ENROLLMENT from CHICAGO_PUBLIC_SCHOOLS \
    group by COMMUNITY_AREA_NAME \
    order by AVG(COLLEGE_ENROLLMENT) desc \
    limit 5

 * ibm_db_sa://snj43383:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('MONTCLARE', Decimal('1317.000000')),
 ('WEST ELSDON', Decimal('1233.333333')),
 ('BRIGHTON PARK', Decimal('1205.875000')),
 ('BELMONT CRAGIN', Decimal('1198.833333'))]